/*ESSES CÓDIGOS IRÃO DEFINIR O:CABEÇALHO*/



.a {
  color: #fff;
  background-color: rgba(0.0.0.0.8);
  font-family: Quicksand, sans-serif;
  font-size: 22px;
}

/* header */

.header {
  position: fixed;
  width: 100%;
  height: 150px;
  transition: 0.8s;
  display: fixed;
}

.header ul {
  
  padding: 0;
  list-style: none;
  overflow: hidden; 
  padding-top: 15%;
  z-index: 10;
  }

.header li a {
  display: block;
  padding: 30px 30px;
  text-decoration: none;
  z-index: 10;
  background-color: rgba(0,0,0,0.3);
}



.header .logo {
  float: left;
   position: fixed;
   margin-left: 3%;
  max-width: 100%;
  height: auto;

}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .50s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 80px 50px 0 0;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 35px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .5s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*CÓDIGO PARA P INICIO DO SLIDE*/
* { margin: 0; padding: 0; top:0;}

.load {animation:slide 2s;}

.slider{ 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 19s infinite;    
}

.content {
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.principal {
  left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing:5px; 
    text-align: center;
}

@keyframes slide {
    0%{
       background-image: url(slide/opa.jpg);
    }
    
    20%{
        background-image: url(slide/opa.jpg);
    }
    
    20.01%{
       background-image: url(slide/cozinha3.jpg);
    }
    40%{
       background-image: url(slide/cozinha3.jpg);
    }
    
    40.01%{
        background-image: url(slide/sala.jpg);
    }
    60%{
       background-image: url(slide/sala.jpg);
    }
    
    60.1%{
        background-image: url(slide/quarto.jpg);
    }
    
    80%{
       background-image: url(slide/quarto.jpg);
    }
    
    80.01%{
        background-image: url(slide/piscina.jpg);
    }
    100%{
        background-image:url(slide/piscina.jpg);
    }
}

/*FIM DO SLIDE

/*ESSES CÓDIGOS IRÃO DEFINIR O: CONTEÚDO DA PÁGINA*/



/*este primeiro bloco é para o conteúdo*/
.primeiro-bloco
{
	
	padding-bottom: 30px;
    padding-top: 30px;
	height:1050px;
	width: 100%;
	background: #000;
	
}

/*esses códigos pertecem ás imagens dos arquitetos*/
.primeira-imagem {
    display: block;
    float: left;
    background-color: red;
    margin-top: 50px;
    object-fit: cover;
    height: 300px;
    margin-left: 2%;
}

.segunda-imagem {
    display: inline;
    float:left;
	margin: 2%;
	height: 300px;
    margin-top: 100px;
    background-color: red;
    
}

.terceira-imagem {
      display: inline;
    float:left;
    /*margin: 2%;*/
    height: 300px;
    margin-top: 150px;
    background-color: red; }

/*código que define o texto da página*/
.txt{
	height:100%;
	width: 80%;
    margin-left: 2%;
	color:#ccc;
	font-size:20px;
	font-family: 'Quicksand', sans-serif;
    position: relative;
}

/*FIM DO CONTEÚDO*/




/*ESSES CÓDIGOS VÃO DEFINIR O: RODAPÉ*/
.bloco-rodape {
	background:rgba(0,0,0,.9);
	width: 100%;
    height: 200px;

}

.texto-rodape
{
	font-size: 20px;
	color: white;
	display: inline;
    text-align: center;
    font-family: 'Quicksand', sans-serif; 	
}

#loguin{
    margin-bottom: 3px;
    text-align: center;
    
}

/*FIM DO RODAPÉ*/

/*DEFININDO A 1ºMEDIA QUERY*/

/* 48em = 768px */

@media (min-width: 48em) {

  .header ul{
    padding-top: 0;
    display: fixed;
  }


  .header li {
    float: left;
  }
  .header li a {
    padding: 50px 30px;
    background-color: transparent;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }



/*este primeiro bloco é para o conteúdo*/
.primeiro-bloco
{
    
    padding-bottom: 30px;
    padding-top: 30px;
    height: 600px;
    width: 100%;
    background: #000;
    
}

/*esses códigos pertecem ás imagens dos arquitetos*/
.primeira-imagem {
   /*display: block;*/
    float: left;
    margin-left:2%; 
    height: 400px;
    margin-top: 50px;

}

.segunda-imagem {
    /*display: inline;*/
    float:left;
    height: 400px;
    margin-top: 100px;
    
}

.terceira-imagem {
  margin-top:150px;
   height: 400px;
   }


/*código que define o texto da página*/
.txt{
    height: 333px;
    width: 45%;
    color:#ccc;
    font-size:20px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top: 150px;
    margin-left: 50%;
       
}

/*FIM DO CONTEÚDO*/




/*ESSES CÓDIGOS VÃO DEFINIR O: RODAPÉ*/
.bloco-rodape {
    background:rgba(0,0,0,.9);
    width: 100%;
    height: 200px;

}

.texto-rodape
{
    font-size: 20px;
    color: white;
    display: inline;
    text-align: center;
    font-family: 'Quicksand', sans-serif;   
}

#loguin{
    margin-bottom: 3px;
    text-align: center;
    
}
}





























